{{ define "main" }}

<h1>Content</h1>

<p>
    The ForwardingPlane - A wealth of rambling run-on sentences, misspellings, rants, and technical babble. 

<div class="posts-list">
{{ with .Site.GetPage "/post" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>


{{ end }}